{
    "extends": [
      "@playcanvas/eslint-config"
    ],
    "rules": {
      "no-unused-expressions": "off",
      "jsdoc/check-tag-names": "off",
      "import/no-unresolved": "off"
    },
    "overrides": [
        {
            "files": ["./**/*.test.js"],
            "rules": {
              "prefer-arrow-callback": "off",
          }
        }
      ]
  }
  